<section class="texto-aula">
    <div class="container">
        <h3 class="titulo">
            Operadores ternários
        </h3>
        <p>
            O operador ternário é uma forma concisa e eficiente de executar condicionais simples em Java. Ele é uma alternativa compacta ao uso de estruturas if-else para expressões que resultam em um único valor.
        </p>
        <p>
            O operador ternário é especialmente útil quando se deseja tornar o código mais legível e reduzir a quantidade de linhas.
        </p>
        <p>
            Estrutura do Operador Ternário
        </p>
        <p>
            A estrutura do operador ternário em Java é:
        </p>
        <!-- Componente de código -->
         <app-bloco-codigo></app-bloco-codigo>
        <ul>
            <li>
                Condição: Uma expressão booleana que é avaliada.
            </li>
            <li>
                Expressão1: O valor que será retornado se a condição for verdadeira.
            </li>
            <li>
                Expressão2: O valor que será retornado se a condição for falsa.
            </li>
        </ul>
        <p>
            Funcionamento
        </p>
        <p>
            O operador ternário avalia a condição fornecida:
        </p>
        <ul>
            <li>
                Se a condição for true, o valor de expressão1 é retornado.
            </li>
            <li>
                Se a condição for false, o valor de expressão2 é retornado.
            </li>
        </ul>
    </div>
</section>