<footer class="rodape">
    <div class="flex">
        <div class="assinatura">
            <div class="msg-assinatura">
                <span class="icone">
                    <i class="ph ph-envelope-simple"></i>
                </span>
                <span class="mensagem">
                    Assine nossa News Letter para ficar antenado nas notícias de tecnologia!
                </span>
            </div>
        </div>
        <form class="news-letter">
            <div class="input">
                <span class="icon-left">
                    <i class="ph ph-envelope-simple"></i>
                </span>
                <input type="email" placeholder="Insira seu melhor e-mail" class="input-email" />
                <span class="icon-right">
                    <i class="ph ph-paper-plane-right"></i>
                </span>
            </div>
            <div class="autorizacao">
                <span class="icone">
                    <i class="ph-duotone ph-check-square"></i>
                </span>
                <span class="texto">
                    Autorizo o envio de comunicações por e-mail ou <br/> qualquer outro meio
                </span>
            </div>
        </form>
    </div>
    <div class="flex">
        <div class="criar-conta">
            <span class="label">COMECE A ESTUDAR AGORA</span>
            <app-button-default [text]="'Criar conta'" [width]="16"></app-button-default>
        </div>
        <div class="ver-cursos">
            <span class="label">Trilas de programação</span>
            <app-button-default [text]="'Ver cursos'" [width]="16"></app-button-default>
        </div>
    </div>
</footer>