<section class="noticias">
    <div class="vagas-ano">
        <span class="ano">
            2024
        </span>
        <ul class="vagas">
            <li class="vaga">
                <img src="noticias/dez-mil-vagas-java.png" />
            </li>
            <li class="vaga">
                <img src="noticias/milhares-de-vagas-ano.png" />
            </li>
            <li class="vaga">
                <img src="noticias/duas-mil-vagas-angular.png" />
            </li>
        </ul>
    </div>
    <div class="action">
        <span class="destaque">
            Não espere mais!
        </span>
        <span class="titulo">
            O mercado está procurando <br/> novos programadores
        </span>
        <span class="subtitulo">
            Clique no botão a baixo e inscreva-se nos nossos cursos!
        </span>
        <app-button-default [width]="23" [text]="'Quero me tornar um programador agora'"></app-button-default>
    </div>
</section>