<section class="perguntas">
    <img src="logo.svg" class="avatar" />
    <div class="container-perguntas">
        <div class="header">
            <span class="destaque">FAQ</span>
            <span class="titulo">Perguntas mais frequentes</span>
        </div>
        <ul class="lista">
            <li class="pergunta">
                <div class="enunciado">
                    <span>Para quem são os cursos?</span>
                    <i class="ph ph-caret-down"></i>
                </div>
                <div class="resposta">
                    <span>Iniciantes em programação e programadores que desejam evoluir conhecimentos.</span>
                </div>
            </li>
            <li class="pergunta">
                <div class="enunciado">
                    <span>Por onde começo a estudar?</span>
                    <i class="ph ph-caret-down"></i>
                </div>
                <div class="resposta">
                    <span>Para saber melhor por onde começar, converse com a nossa <span class="negrito">INTELIGÊNCIA ARTIFICIAL</span> exclusiva da Domínio full-stack!</span>
                </div>
            </li>
            <li class="pergunta">
                <div class="enunciado">
                    <span>Tem certificado?</span>
                    <i class="ph ph-caret-down"></i>
                </div>
                <div class="resposta">
                    <span>Claro! Basta apenas você criar sua conta para poder emitir certificados.</span>
                </div>
            </li>
        </ul>
    </div>
</section>