<div class="lista-cursos">
    <h2 class="titulo">Cursos em andamento</h2>
    <div class="painel-cursos">
        <ul class="filtros">
            <li class="filtro">Últimos acessados</li>
            <li class="filtro">HTML/CSS</li>
            <li class="filtro">Java</li>
            <li class="filtro">Angular</li>
            <li class="filtro">JavaScript</li>
            <li class="filtro">PostgreSQL</li>
        </ul>
        <ul class="cursos">
            <li class="curso">
                <span class="imagem"></span>
                <ul class="detalhes">
                    <li class="nome">
                        <span>Curso Avançado de Programação Java</span>
                    </li>
                    <li class="nivel">
                        <span>
                            <b>Avançado </b>
                            <span class="icone" [style.backgroundColor]="'#E40101'">&lt;/&gt;</span>
                        </span>
                    </li>
                    <li>
                        <span class="progresso">39% concluído</span>
                    </li>
                    <li class="botoes">
                        <button class="continuar">Continuar</button>
                        <button class="aulas">Ver aulas do curso</button>
                    </li>
                </ul>
            </li>
            <li class="curso">
                <span class="imagem"></span>
                <ul class="detalhes">
                    <li class="nome">
                        <span>Curso Intermediário de PostgreSQL</span>
                    </li>
                    <li class="nivel">
                        <span>
                            <b>Intermediário </b>
                            <span class="icone" [style.backgroundColor]="'#D5A600'">&lt;/&gt;</span>
                        </span>
                    </li>
                    <li>
                        <span class="progresso">39% concluído</span>
                    </li>
                    <li class="botoes">
                        <button class="continuar">Continuar</button>
                        <button class="aulas">Ver aulas do curso</button>
                    </li>
                </ul>
            </li>
            <li class="curso">
                <span class="imagem"></span>
                <ul class="detalhes">
                    <li class="nome">
                        <span>Curso de JavaScript para Iniciantes</span>
                    </li>
                    <li class="nivel">
                        <span>
                            <b>Iniciante </b>
                            <span class="icone" [style.backgroundColor]="'#0CA838'">&lt;/&gt;</span>
                        </span>
                    </li>
                    <li>
                        <span class="progresso">39% concluído</span>
                    </li>
                    <li class="botoes">
                        <button class="continuar">Continuar</button>
                        <button class="aulas">Ver aulas do curso</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>