<div class="lista-cursos">
    <h2 class="titulo">Cursos em andamento</h2>
    <div class="painel-cursos">
        <ul class="filtros">
            <li class="filtro">
                <span>Últimos acessados</span>
                <div class="filtro-dot"></div>
            </li>
            <li class="filtro">HTML/CSS</li>
            <li class="filtro">Java</li>
            <li class="filtro">Angular</li>
            <li class="filtro">JavaScript</li>
            <li class="filtro">PostgreSQL</li>
        </ul>
        <ul class="cursos">
            <li class="curso">
                <span class="imagem curso-java"></span>
                <ul class="detalhes">
                    <li class="nome">
                        <span>Curso Avançado de Programação Java</span>
                    </li>
                    <li class="nivel">
                        <span>
                            <b>Avançado </b>
                            <span class="icone" [style.backgroundColor]="'#E40101'">&lt;/&gt;</span>
                        </span>
                    </li>
                    <li>
                        <span class="progress-bar">
                            <span class="progress">39% concluído</span>
                        </span>
                    </li>
                    <li class="botoes">
                        <app-button-default text="Continuar" [width]="14"></app-button-default>
                        <app-button-default estilo="terciario" text="Ver aulas do curso" [width]="14"></app-button-default>
                    </li>
                </ul>
            </li>
            <li class="curso">
                <span class="imagem curso-postgresql"></span>
                <ul class="detalhes">
                    <li class="nome">
                        <span>Curso Intermediário de PostgreSQL</span>
                    </li>
                    <li class="nivel">
                        <span>
                            <b>Intermediário </b>
                            <span class="icone" [style.backgroundColor]="'#D5A600'">&lt;/&gt;</span>
                        </span>
                    </li>
                    <li>
                        <span class="progress-bar">
                            <span class="progress">39% concluído</span>
                        </span>
                    </li>
                    <li class="botoes">
                        <app-button-default text="Continuar" [width]="14"></app-button-default>
                        <app-button-default estilo="terciario" text="Ver aulas do curso" [width]="14"></app-button-default>
                    </li>
                </ul>
            </li>
            <li class="curso">
                <span class="imagem curso-javascript"></span>
                <ul class="detalhes">
                    <li class="nome">
                        <span>Curso de JavaScript para Iniciantes</span>
                    </li>
                    <li class="nivel">
                        <span>
                            <b>Iniciante </b>
                            <span class="icone" [style.backgroundColor]="'#0CA838'">&lt;/&gt;</span>
                        </span>
                    </li>
                    <li>
                        <span class="progress-bar">
                            <span class="progress">39% concluído</span>
                        </span>
                    </li>
                    <li class="botoes">
                        <app-button-default text="Continuar" [width]="14"></app-button-default>
                        <app-button-default estilo="terciario" text="Ver aulas do curso" [width]="14"></app-button-default>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>