<div class="cursos">
    <h3 class="titulo">
        Cursos mais acessados
    </h3>
    <ul class="lista">
        <li class="curso">
            <span class="img curso-java"></span>
            <span class="nome">
                Curso Avançado de Programação Java
            </span>
            <ul class="detalhes">
                <li class="nivel">
                    <span><b>Avançado </b><span class="icone" [style.backgroundColor]="'#E40101'">&lt;/&gt;</span></span>
                </li>
                <li>
                    <span><b>Duração: </b>12 semanas</span>
                </li>
                <li>
                    <span><b>Carga Horária: </b>60 horas</span>
                </li>
                <li>
                    <span><b>Modalidade: </b> Online</span>
                </li>
            </ul>
            <app-button-default [text]="'Saiba mais'" estilo="secundario"></app-button-default>
        </li>
        <li class="curso">
            <span class="img curso-postgresql"></span>
            <span class="nome">
                Curso Intermed. <br/> de PostgreSQL
            </span>
            <ul class="detalhes">
                <li class="nivel">
                    <span><b>Intermediário </b><span class="icone" [style.backgroundColor]="'#D5A600'">&lt;/&gt;</span></span>
                </li>
                <li>
                    <span><b>Duração: </b>12 semanas</span>
                </li>
                <li>
                    <span><b>Carga Horária: </b>60 horas</span>
                </li>
                <li>
                    <span><b>Modalidade: </b> Online</span>
                </li>
            </ul>
            <app-button-default [text]="'Saiba mais'" estilo="secundario"></app-button-default>
        </li>
        <li class="curso">
            <span class="img curso-javascript"></span>
            <span class="nome">
                Curso de JavaScript para Iniciantes
            </span>
            <ul class="detalhes">
                <li class="nivel">
                    <span><b>Iniciante </b><span class="icone" [style.backgroundColor]="'#0CA838'">&lt;/&gt;</span></span>
                </li>
                <li>
                    <span><b>Duração: </b>12 semanas</span>
                </li>
                <li>
                    <span><b>Carga Horária: </b>60 horas</span>
                </li>
                <li>
                    <span><b>Modalidade: </b> Online</span>
                </li>
            </ul>
            <app-button-default [text]="'Saiba mais'" estilo="secundario"></app-button-default>
        </li>
    </ul>
</div>