<div class="lista-aulas">
    <div class="header">
        <button><i class="ph ph-arrow-left"></i></button>
        <span class="title">Voltar ao curso</span>
        <span class="close"><i class="ph ph-caret-double-left"></i></span>
    </div>
    <div class="info-curso">
        <p class="nome-curso">Curso Avançado de Programação Java</p>
        <div class="progresso">
            <span class="progress-bar">
                <span class="progress"></span>
            </span>
            <span>50%</span>
        </div>
    </div>
    <div class="conteudo">
        <ul class="tipos">
            <li>
                <button class="btn-active"><i class="ph-fill ph-play"></i></button>
            </li>
            <li>
                <button><i class="ph ph-note"></i></button>
            </li>
            <li>
                <button><i class="ph ph-note-pencil"></i></button>
            </li>
        </ul>
        <ul class="modulos">
            <li class="modulo">
                <i class="ph-fill ph-video"></i>
                <span>
                    Iniciando na linguagem
                </span>
                <i class="ph ph-caret-down"></i>
            </li>
            <li class="modulo">
                <i class="ph-fill ph-video"></i>
                <span>
                    Aprendendo a usar as funções
                </span>
                <i class="ph ph-caret-down"></i>
            </li>
            <li class="modulo">
                <i class="ph-fill ph-video"></i>
                <span>
                    Construindo uma API
                </span>
                <i class="ph ph-caret-down"></i>
            </li>
            <li class="modulo">
                <i class="ph-fill ph-video"></i>
                <span>
                    Quarta Aula
                </span>
                <i class="ph ph-caret-down"></i>
            </li>
            <li class="modulo">
                <i class="ph-fill ph-video"></i>
                <span>
                    Quinta Aula
                </span>
                <i class="ph ph-caret-down"></i>
            </li>
            <li class="modulo">
                <i class="ph-fill ph-video"></i>
                <span>
                    Sexta Aula
                </span>
                <i class="ph ph-caret-down"></i>
            </li>
        </ul>
    </div>
</div>