<div class="lista-aulas">
    <div class="header">
        <button><i class="ph ph-arrow-left"></i></button>
        <span class="title">Voltar ao curso</span>
        <span class="close"><i class="ph ph-caret-double-left"></i></span>
    </div>
    <div class="info-curso">
        <p class="nome-curso">Curso Avançado de Programação Java</p>
        <div class="progresso">
            <span class="progress-bar">
                <span class="progress"></span>
            </span>
            <span>50%</span>
        </div>
    </div>
    <div class="conteudo">
        <ul class="tipos">
            <li>
                <button><i class="ph-fill ph-caret-right"></i></button>
            </li>
            <li>
                <button><i class="ph ph-note"></i></button>
            </li>
            <li>
                <button><i class="ph ph-note-pencil"></i></button>
            </li>
        </ul>
        <ul class="modulo">
            <li>
                Iniciando na linguagem
            </li>
            <li>
                Aprendendo a usar as funções
            </li>
            <li>
                Construindo uma API
            </li>
            <li>
                Quarta Aula
            </li>
            <li>
                Quinta Aula
            </li>
            <li>
                Sexta Aula
            </li>
        </ul>
    </div>
</div>