<nav>
    <div>
        <span class="brand"><span class="destaque">Domínio</span> Dev</span>
    </div>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a href="">Newsletter</a>
        </li>
        <li>
            <a routerLink="/cursos-deslogado" routerLinkActive="active" ariaCurrentWhenActive="page">Cursos</a>
        </li>
        <li>
            <a routerLink="/entrar" routerLinkActive="active" ariaCurrentWhenActive="page">Entrar</a>
        </li>
        <li>
            <a routerLink="/cadastrar" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastrar</a>
        </li>
    </ul>
</nav>