:host {
    .banner {
        padding: 3.5rem 0;
    }

    .sub-titulo {
        color: #1F1F1F;
        font-family: Share, sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.5em;
        text-align: center;
        margin: 0;
    }

    .call-to-action {
        text-align: center;
        margin-top: 3rem;
    }

    .destaque {
        color: #000FD9;
    }
}