:host {
    .banner {
        padding: 3.5rem 0;
    }

    .banner::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('/logo.svg');
        background-repeat: no-repeat;
        background-position: right -16rem top 8rem;
        background-size: 500px;
        opacity: 0.05;
        z-index: -1;
    }

    .sub-titulo {
        color: #1F1F1F;
        font-family: Share, sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.5em;
        text-align: center;
        margin: 0;
    }

    .call-to-action {
        text-align: center;
        margin-top: 3rem;
    }

    .destaque {
        color: #000FD9;
    }
}