<app-navbar></app-navbar>
<section class="banner">
    <app-titulo-com-divisores titulo="CURSOS" destaque="GRATUITOS"></app-titulo-com-divisores>
    <p class="sub-titulo">
        Desenvolva projetos com as <span class="destaque">tecnologias mais usadas</span> do mercado!
    </p>
    <app-formacao-list></app-formacao-list>
    <p class="sub-titulo">
        Cadastre-se <span class="destaque">agora gratuitamente</span> e garanta seu <span class="destaque">certificado</span>
        <br/>
        no final de cada curso!
    </p>
    <div class="call-to-action">
        <app-button-default [width]="30" [text]="'Quero me cadastrar'"></app-button-default>
    </div>
</section>
