<div class="beneficios">
    <div class="container">
        <h3 class="titulo">Benefícios de quem possui <br/> cadastro na Domínio Dev</h3>
        <ul class="lista">
            <li class="beneficio">
                <span class="img certificado"></span>
                <span class="divisor"></span>
                <span class="text">Emissão de <br/> certificados de curso</span>
            </li>
            <li class="beneficio">
                <span class="img video"></span>
                <span class="divisor"></span>
                <span class="text">Acesso antecipado de cursos novos</span>
            </li>
            <li class="beneficio">
                <span class="img robot"></span>
                <span class="divisor"></span>
                <span class="text">Interação com a IA da Domínio Dev</span>
            </li>
        </ul>
    </div>
</div>