<ul class="formacoes" [style.marginTop.rem]="margin" [style.marginBottom.rem]="margin">
    <li class="formacao">
        <img src="html-css.svg" />
        <span>HTML/CSS</span>
    </li>
    <li class="formacao">
        <img src="java.svg" />
        <span>Java</span>
    </li>
    <li class="formacao">
        <img src="angular.svg" />
        <span>Angular</span>
    </li>
    <li class="formacao">
        <img src="java-script.svg" />
        <span>JavaScript</span>
    </li>
    <li class="formacao">
        <img src="postgre-sql.svg" />
        <span>PostgreSQL</span>
    </li>
</ul>