<section class="video-aula">
    <div class="header">
        <h3>O que é Java?</h3>
        <span class="min">20 min</span>
    </div>
    <div class="video">
        <iframe 
            width="100%"
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/1NANCAAuX_8"
            title="O que são listas e como usá-las em um projeto Java"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin">
        </iframe>
    </div>
</section>