<section class="card-indicadores">
    <ul class="indicadores">
        <li class="indicador">
            <img src="visualizacoes.svg" />
            <span class="titulo">+429 mil</span>
            <span class="subtitulo">visualizações no YouTube</span>
        </li>
        <li class="indicador">
            <img src="aulas.svg" />
            <span class="titulo">+160</span>
            <span class="subtitulo">aulas para você aproveitar</span>
        </li>
        <li class="indicador">
            <img src="likes.svg" />
            <span class="titulo">+5 mil</span>
            <span class="subtitulo">pessoas gostaram dos cursos</span>
        </li>
    </ul>
</section>