<section class="depoimentos">
    <span class="titulo">
        Veja o que dizem nossos alunos
    </span>
    <div class="slides">
        <span class="controle voltar">
            <i class="ph-bold ph-caret-left"></i>
        </span>
        <div class="slide">
            <span class="tipo">
                Depoimento
            </span>
            <span class="texto">
                "Fazer o curso de desenvolvimento foi uma das melhores decisões que já tomei. Entrei com poucas noções sobre programação e saí com uma base sólida e confiança para enfrentar desafios reais no mercado de trabalho. Os professores são extremamente capacitados e sempre prontos para ajudar, o que fez toda a diferença na minha jornada de aprendizado. Além do conhecimento técnico, o curso também me proporcionou uma rede de contatos valiosa e oportunidades de projetos práticos que enriqueceram meu portfólio. Hoje, me sinto preparado para dar os próximos passos na minha carreira e recomendo o curso a todos que querem entrar no mundo do desenvolvimento."
            </span>
            <div class="info-aluno">
                <img src="aluno-foto.png" class="img">
                <div class="perfil">
                    <span class="nome">Guilherme Dambrowski</span>
                    <span class="curso">Aluno de Angular</span>
                </div>
            </div>
        </div>
        <span class="controle avancar">
            <i class="ph-bold ph-caret-right"></i>
        </span>
    </div>
</section>