<section class="container">
    <div class="video-apresentacao">
        <iframe width="496"
            height="313"
            src="https://www.youtube.com/embed/1j0_Ijpo_cg"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope"
            referrerpolicy="strict-origin-when-cross-origin">
        </iframe>
        <img src="notebook.svg" />
    </div>
</section>
<div class="banner-promocional">
    <p>
        Dê um play e alavenque sua carreira
    </p>
    <p>
        se destaque no mercado de maneira assertiva em pouco tempo
    </p>
    <p>
        Temos os cursos ideais para você, não perca a chance
        <br />
        de desenvolver soluções web sozinho!
    </p>
</div>