:host {
    .conta {
        background: linear-gradient(117.62deg, #2849FF -0.55%, #00074D 100.64%);
        display: flex;
        width: 100vw;
        height: 100vh;

        .banner {
            flex-basis: 66%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                width: 272px;
                height: 237.46px;
            }
        }
        
        .formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-basis: 34%;
            flex-shrink: 0;
            height: 100vh;
            background: #F6F6F6;
            padding: 2rem;
            box-sizing: border-box;

            .titulo {
                font-family: Share, sans-serif;
                font-size: 36px;
                font-weight: 700;
                line-height: 40.57px;
                color: #000000;
                margin-bottom: .5rem;
            }

            .subtitulo {
                font-family: Share, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                color: #454545;
                margin-bottom: 2rem;
            }

            .esqueci-senha {
                font-family: Share, sans-serif;
                font-size: 1rem;
                font-weight: 400;
                line-height: 24px;
                color: #000FD9;
            }

            .botoes {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: .75rem;

                .texto-info {
                    display: block;
                    font-family: Share, sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 24px;
                    color: #000000;
                    text-align: center;
                    margin-top: 1.5rem;
                }
            }
        }
    }
}