<section class="anotacoes">
    <div class="header">
        <span>Minhas anotações</span>
    </div>
    <div class="formulario">
        <app-input placeholder="Digite aqui..." id="anotacao" type="text"></app-input>
        <app-button-icon></app-button-icon>
    </div>
    <ul class="lista">
        <li class="anotacao">
            <span class="texto">
                Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos.
            </span>
            <span class="data-hora">
                27/08/2024 - 21:57
            </span>
        </li>
        <li class="anotacao">
            <span class="texto">
                Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos.
            </span>
            <span class="data-hora">
                27/08/2024 - 21:57
            </span>
        </li>
        <li class="anotacao">
            <span class="texto">
                Java é uma linguagem de programação que segue o paradigma de orientação a objetos. Java é uma linguagem de programação que segue o paradigma de orientação a objetos.
            </span>
            <span class="data-hora">
                27/08/2024 - 21:57
            </span>
        </li>
    </ul>
</section>