:host {
    .banner {
        padding: 3.5rem 0;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .titulo {
            display: block;
            font-family: Share, sans-serif;
            font-size: 3em;
            font-weight: 700;
            line-height: 3em;
            color: #3D3D3D;
            width: 50%;
            text-align: center;
            margin: 0;
        }

        .divisor {
            border: 1px solid #00000040;
            display: block;
            width: 25%;
        }
    }

    .sub-titulo {
        font-family: Share, sans-serif;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5em;
        text-align: center;
        margin: 0;
    }

    .call-to-action {
        text-align: center;
    }

    .destaque {
        color: #000FD9;
    }
}