<section class="banner">
    <app-titulo-com-divisores titulo="Cursos de" destaque="programação grátis"></app-titulo-com-divisores>
    <p class="sub-titulo">
        Torne-se um programador extraordinário desenvolvendo os melhores projetos e <span class="destaque">conquiste as melhores vagas</span>
        <br/>
        Desenvolva projetos com as tecnologias mais atuais do mercado!
    </p>
    <app-formacao-list></app-formacao-list>
    <div class="call-to-action">
        <app-button-default [width]="30" [text]="'Quero me tornar um programador'"></app-button-default>
    </div>
</section>