:host {
    * {
        font-family: Share, sans-serif;
        font-size: 14px;
    }
    .bloco-codigo {
        background: #111111;
        border: 1px solid #454545;
        border-radius: .5rem;
        overflow: hidden;
        .conteudo, .header {
            padding: .5rem .75rem;
        }
        .header {
            background: #3D3D3D;
            .titulo {
                font-weight: 700;
            }
        }
        .conteudo{
            .codigo {
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}