:host {
    .background-vetores {
        background-image: url('/background/forma-aleatoria.svg'), url('/background/forma-circular.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: right -3rem top -7rem, left 0 top 12rem;
        background-size: auto, auto;
    }
}